<!--
---
layout: games
title: Games
permalink: /games/
---


<div class="col-lg-8 offset-md-2">

  <div class="row">
    {% assign count = 0 %}
    {% assign align = "left" %}
    {% for game in site.data.games.overview %}
    {% if count == 0 %}<div class="row">{% endif %}
      <div class="card">
        <a href="{{ site.url }}{{ site.baseurl }}/games/{{ game.directory }}.html">
          <div class="card-title"> <h5><b> {{ game.title }} </b></h5></div>
          <div class="row">
            <img class="img-thumbnail" alt="{{ game.title }}" src="{{ site.url }}{{ site.baseurl }}/assets/img/games/{% if game.picture_path %}{{ game.picture_path }}{% else %}{{ game.directory }}{% endif %}/{{ game.preview.thumbnail }}" />
          </div>
        </a>
      </div>
    {% if count == 1 %}</div>{% endif %}
    {% assign count = count | plus: 1 %}
    {% assign align = "right" %}
    {% if count >= 3 %}
    {% assign align = "left" %}
    {% assign count = 0 %}
    {% endif %}
    {% endfor %}

    {% if count != 1 %}
    </div>
    {% endif %}

  </div>
</div>
-->