
<div id="commentsSection"></div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const giscusAttributes = {
        "src": "https://giscus.app/client.js", 
        "data-repo": "mered0th/meredoth-site",
        "data-repo-id": "R_kgDOIi8DMA",
        "data-category": "Announcements",
        "data-category-id": "DIC_kwDOIi8DMM4CS4Lh",
        "data-mapping": "pathname",
        "data-strict": "0",
        "data-reactions-enabled": "1",
        "data-emit-metadata": "0",
        "data-input-position": "bottom",
        "data-theme": getGisqusColor(),
        "data-lang": "en",
        "crossorigin": "anonymous",
        "async": "",
        };

        const giscusScript = document.createElement("script");
        Object.entries(giscusAttributes).forEach(([key, value]) => giscusScript.setAttribute(key, value));
        document.getElementById('commentsSection').appendChild(giscusScript);
    });

    function getGisqusColor()  {
        if (!localStorage.getItem('color-theme')) {
            return "dark";
        }
        else {
            return localStorage.getItem('color-theme');
        }
    } 
</script>


